//colours
$white: #ffffff;
$pink: #FE7865;
$orange: #F17D4B;
$black: #141517;
$basic-black: #000;
$violet: #2C2E3F;
$medium-grey: #48494D;
$light-pink: #FBF8F8;
$grey: rgb(44, 46, 63);
$dark-grey: rgb(20, 21, 23);
$special-dark-grey: rgb(41, 54, 66);
$light-grey: #D7D9DF;

// Viewport
$tablet-max-width: 1023px;
$mobile-max-width: 767px;
